nav, .aboutMe, .selfIntroduction, .projectIntroduction, .share, .contact{
  display:none;
}

.tv-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000; 
  z-index: 999; 
}

.box, .right-angle {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
}

.box {
  width: 100px;
  height: 100px;
  background-color: #000;
  border-radius: 25px;
  border: 10px solid #fff;
  cursor: pointer;
  transition: opacity 2s 1s, transform 2s 1s, width 2s, height 2s;
}
.box.shrink {
  width: 0;
  height: 0;
  opacity: 0;
  transform: scale(0);
}
.right-angle {
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%) scale(0) rotate(225deg); 
  animation: scaleUp 2s; 
  animation: none;
}
@keyframes scaleUp {
  from {
      transform: translate(-50%, -50%) scale(0) rotate(225deg);
  }
  to {
      transform: translate(-50%, -50%) scale(1) rotate(225deg);
  }
}
.right-angle.su{
  animation: scaleUp 2s forwards;
}
@keyframes moveRight {
  from {
    transform: translate(-50%, -50%) scale(1) rotate(315deg);
  }
  to {
      transform: translate(100vw, -50%) scale(1) rotate(315deg); 
  }
}
.right-angle.move-right {
  animation: moveRight 2s; 
}
@keyframes rotate90 {
  from {
    transform: translate(-50%, -50%) scale(1) rotate(225deg);
  }
  to{
    transform: translate(-50%, -50%) scale(1) rotate(315deg);
  }
}
.right-angle.rotate90{
  animation: rotate90 1s forwards;
}

.horizontal-line {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 9.6px;
  background-color: white;
}

.vertical-line {
  position: absolute;
  right: 0;
  width: 9.6px;
  height: 100%;
  background-color: white;
}





a{
  text-decoration: none;
}
li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px; 
  bottom: 0;
  left: 0;
  background: black;
  transform: scaleX(0); 
  transform-origin: bottom left;
  transition: transform 0.3s ease; 
}
li a:hover::before {
  transform: scaleX(1); 
}



  body,html{
    margin: 0; 
  padding: 0;
  }
header{
    position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  background: transparent;
  
  width: 100%;
  background-color: white;


  
}
header ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
  }
  header li {
    display: inline; 
    margin-right: 20px; 
    text-align: center; 
    line-height: 0; 
  }

header a{
    padding: 0 5px;
      line-height: 35px;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 14px;
      color: #373737;
      letter-spacing: 3px;
      position: relative;
}
header h1 {
    display: inline-block; 
    margin-right: 20px; 
  }

  main{
    header{
    position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  background: transparent;
  
  width: 100%;
  background-color: white;


  
}
header ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
  }
  
  header li {
    display: inline; 
    margin-right: 20px; 
    text-align: center; 
    line-height: 0; 
  }
  

header a{
    padding: 0 5px;
      line-height: 35px;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 14px;
      color: #373737;
      letter-spacing: 3px;
      position: relative;
      text-decoration: none !important;


}
header h1 {
    display: inline-block; 
    margin-right: 20px;
  }

  nav ul li a {
    text-decoration: none !important;
  }

  
  

.anchor-offset {
  position: relative;
  top: -42.112px; 
  visibility: hidden; 
  height: 0;
}

  
  .aboutMe,
    .selfIntroduction,
    .projectIntroduction,
    .share,
    .contact {
      flex: 1; 
      margin: 0; 
  padding: 0;
  width:100%;
      
      
    }

    .share {
      flex-basis: auto; 
    }
    .aboutMe{
        background-image: url('../img/E-700256-156F9D71C.jpeg');
        background-size: 100% 100%;
        background-position: center;
  background-repeat: no-repeat;
  margin-top: 42.112px;
    }
    .selfIntroduction{
        background-image: url('../img/E-700256-156F9D71C.jpeg');
        background-size: 100% 100%;
        background-position: center;
  background-repeat: no-repeat;
    }
    
  }
  .aboutMe,
    .selfIntroduction,
    .projectIntroduction,
    .contact {
      width: 100vw; 
      height: calc(100vh - 42.112px);
    }
  .aboutMe,
    .selfIntroduction,
    .projectIntroduction,
    .share,
    .contact {
      flex: 1; 
      margin: 0; 
      padding: 0;
      margin-top: 42.112px;
      
      


      
      justify-content: center;
      align-items: center; 
      
      
    }
    .title{
      margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    box-sizing: border-box;
    background-color: rgb(200, 160, 255);
    color: #fff;
    padding: 5px 10px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.414em;
    margin: 0;
    line-height: 1.2;
    font-weight: 500;
    }

    .share {
      flex-basis: auto; 
    }
    .aboutMe{
        background-image: url('../img/E-700256-156F9D71C.jpeg');
        background-size: 100% 100%;
        background-position: center;
  background-repeat: no-repeat;
  

    }
    .aboutMe div{
      display: block; 
  width: 100%; 
  height: auto; 
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left; 
  max-width: 600px;

    }
    .aboutMe h1{
      font-size: 48px;
      font-family: "DM Sans",sans-serif;
      margin-top: 0;
    }
    .aboutMe h2{
      font-size: 20px;
      font-family: inter ,sans-serif;
    }
    .aboutMe h3{
      font-size: 16px;
      font-family: inter,sans-serif;
    }
    .aboutMe img{
      height:40px;
      width: 40px;
      vertical-align: middle;

    }
    #picatext{
      margin-bottom: 0;
    }
    #sdiv{
      width: 40%;
    }
    #me{
      height: 490px;
      width: auto;
      

    }
    #picme{
      text-align: right;
    }
    .selfIntroduction{
        background-image: url('../img/background3.jpg');
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        
    flex-direction: column;
    color: #fff;
    }
    #plik{
      background-color: black;
      display: inline-block;
      width: fit-content;
    }
    #contentme{
      display: flex;
    justify-content: space-between;
    width: 100%;
    }
    .left, .right {
      flex: 1;
      padding: 20px; 
  }
  .left {
    display: flex;
    flex-direction: column;
}
#logo{
  display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(3, auto); 
    gap: 50px;
    grid-column-gap: 20px;
}
#c, #java, #python, #mysql, #html {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  border-radius: 10px; 
  max-width: 200px;
}
#c{
  background-color: blue;
}
#java{
  background-color: green;
}
#python{
  background-color: orange;
}
#mysql{
  background-color: purple;
}
#html{
  background-color: rgb(139,0,0);
}
  .selfIntroduction  .title{
    margin-right: 50%; 
    margin-bottom: 50px;
  }

    .projectIntroduction{
      background-image: url('../img/bgg.jpeg');
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        
        flex-direction: column;
        
    }
    .projectIntroduction .title{
      margin-right: 50%; 
      margin-bottom: 50px;
    }

    #projectList img{
      height:150px;
      width: auto;
    }
    #projectList{
      margin-left: 5%;
        margin-right: 5%;
      display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, auto); 
    gap: 50px;  
    }
    
    #cp, #androidp, #databasep, #pythonp{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; 
      text-align: center;
    }
    .share{
      background-image: url('../img/staff_1024.jpg');
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        
          
        
          flex-direction: column; 
          align-items: flex-start;
                    justify-content: center; 
        
    }
    .contact{
      background-color: #373737;
      background-image: url('../img/5c756f92152cb2.png');
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        color: #fff;
    }
    #smallone{
      width: 100px;
      height:auto;
    }
    .contact ul{
      list-style-type: none;
      padding-left: 0;
    }
    .contact li{
      padding-bottom: 20px;
    }
    .center{
      vertical-align: middle;
      display: inline-block;
    }
    .indent{
      text-indent: 36px;
    }
    .contact a{
      color: inherit;
  text-decoration: none;
    }
    #secul{
      padding-left: 100px;
    }
    #secul li{
      padding-bottom: 35px;
    }
    .sharewindow{
      width: 50%;
  min-height: 300px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 10px solid black;
  border-radius: 10px;
  margin: 0 auto; 
  padding: 50px; 
  margin-top: 25px;
  margin-bottom: 25px;
    }
    .share .title{
      margin-left: 40%; 
      margin-bottom: 50px;
    }
    .sharectent{
      flex-direction: column;
      display: flex;
  justify-content: center; 
  align-items: center;
  margin:0;
    }
    .sharewindow video {
      min-height: 300px; 
      width: auto; 
    }
    .sharectent h3 {
      text-align: center; 
      margin-top: 10px;
    }    
    .sharectent img{
      max-width: 100%;
      height: auto;
    }

    .image-container{
      position: relative;
    }
    .small-image{
      display: block;
    }
    .large-image{
      position: absolute;
      overflow: hidden;
      left:0;
      z-index: 1;
      transform: scale(3); 
      transform-origin: top left;
      display: none;
      pointer-events: none;
      width: 100%; 
    height: 100%;
    }
    .slider {
      width: 100%; 
      height: 100%;
  }
    .modal {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(255, 255, 255, 0.8); 
      border: 1px solid #ccc;
      border-radius: 10px; 
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      padding: 20px;
      z-index: 1000;
  }
  
  .modal h2 {
      font-size: 24px;
      margin: 0 0 10px;
  }
  
  .modal p {
      font-size: 16px;
      margin: 0;
  }
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}
#weixin{
  width:200px;
  display: none;

  position: absolute;
  overflow: hidden;
  z-index: 1;
  pointer-events: none;
}


